[submodule "debug"]
	path = debug
	url = https://github.com/LabDin/Simple-Data-Logging.git
[submodule "timing"]
	path = timing
	url = https://github.com/LabDin/Precise-Timing
[submodule "signal_io"]
	path = signal_io
	url = https://github.com/LabDin/Signal-IO-Interface
